{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1> How does this work? </h1>
      <p>Demonstration of Vector Similarity Search using Python and the Postgres PGVector Extension</p>
    </div>
    <div class="container">
	    <h2>Data</h2>
	    <p>We are using the synopsis of ~13K movies from IMDB structured in the following manner</p>
	    <table class="table table-dark table-striped w-auto" >
            <thead class="thead-dark">
		    <tr><th>ID</th><th>IMDB ID</th><th>Title</th><th>Plot Synopsis</th><th>Tags</th><th>Split</th><th>Synopsis source</th></tr>
            </thead>
            <tbody>
		    <tr><td>8908</td><td>tt0094012</td><td>Spaceballs</td><td>Druidia has been at peace for some time now...</td><td>comedy, cult, good versus evil, humor, satire, entertaining</td><td>train</td><td>IMDB</td></tr>
            </tbody>
	    </table>
	    <h2>Data Transformation</h2>
	    <p>How do we tranform the movie synopsis into a vector?</p>
	    <pre><code>
>>> from sentence_transformers import SentenceTransformer
>>> model = SentenceTransformer("all-MiniLM-L6-v2")
>>> synopsis = "Druidia has been at peace for some time now and has managed to stop Planet Spaceball in ...."
>>> embedding = model.encode(synopsis)
>>> print(len(embedding))
384
>>> print(embedding)
[ 8.79819468e-02  5.87161258e-02  9.60118398e-02 -3.02432571e-02
...
 -5.74698299e-02 -3.65708694e-02 -5.08294441e-02  1.05416343e-01]
	    </code></pre>
	    <p>Using the all-MiniLM-L6-v2 model we transform the synopsis text into a vector of 384 floating point numbers</p>
	    <h2>Database</h2>
	    <h4>We are using Postgres database with <a href="https://github.com/pgvector/pgvector">PGVector</a> enabled</h4>
	    <p>The embeddings table has a field named embedding that is of type <b>vector</b></p>
	    <center><img src="/docs/embeddings_table.png"></center>
	    <p>The embedding is a vector of each synopsis</p>
	    <center><img src="/docs/embedding_query.png"></center>
	    <h2>Data Querying</h2>
	    <h4>How do we query the data?</h4>
	    <pre><code>
# Find me the 5 closest neighbors between the embedding field and my vector ordered by cosine distance
SELECT * FROM embeddings ORDER BY embedding <-> '[x.xxx,y.yyy,z.zzz]' LIMIT 5;
	    </code></pre>
   </div>
{%- endblock %}
