{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1>What was that movie?? </h1>
      <h3>You asked:  {{req}} </h3>
    </div>
    <div class="container">
    <table class="table table-dark table-striped w-auto" >
      <thead class="thead-dark">
	      <tr><th>Title</th><th>Tags</th><th>Similar Movies</th><th>IMDB Link</th></tr>
      </thead>
      <tbody>
      {% for movie in matches %}
      <tr>
	      <td>{{ movie.title }}</td>
	      <td>
		      {% for tag in movie.tags.split(", ")[:3] %}
		      <button type="button" class="btn btn-primary">{{ tag }}</button>
		      {% endfor %}

	      </td>
	      <td><a href="/similar?movie_id={{movie.id}}">Similar</a></td>
	      <td><a target="_blank" rel="noopener" href="https://www.imdb.com/title/{{ movie.imdb_id }}/">Link</a></td>
      </tr>
      {% endfor %}
      <tbody>
    </table>
    </div>
   </div>
{%- endblock %}
